// TODO Define colors as constants, DRY classes if possible
body {
  font-size 17px;
  font-family: 'Noto Serif', serif;
}

h1, h2, h3, h4, h5, h6, .navbar, .sidebar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; // the default Vuepress options
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

strong {
  font-weight 570;
}

.sidebar {
  font-size: 14px;
  width: auto;
  max-width 300px;
}

// Custom containers

.custom-block.bibliography {
  margin-bottom -0.4rem
  padding .01rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  border-color darken(#fff6ba, 15%)
  color darken(#fff6ba, 70%)
}

.custom-block.story {
  background-color inherit
  margin-bottom -0.4rem
  padding 1rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  border-color darken(#fff6ba, 15%)
  color darken(#fff6ba, 70%)
}

.custom-block.practice-tip {
  margin-bottom -0.4rem
  padding .01rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  border-color lighten(#d4daff, 15%)
  color darken(#b9baff, 70%)
}
