<template>
    <span>
        <OtherLanguage lang="eng"><slot/></OtherLanguage>
    </span>
</template>

<script>
  import OtherLanguage from './OtherLanguage'
  export default {
    components: { OtherLanguage }
  }
</script>
