<template>
    <span data-app>
        <v-tooltip bottom color="#263238" z-index="1000000">
            <template v-slot:activator="{ on, attrs }">
                <span class="lang-code" v-bind="attrs" v-on="on">{{ lang }}</span>
            </template>
            <span>
                <slot/>
            </span>
        </v-tooltip>
    </span>
</template>

<script>
  export default {
    props: {
      lang: {
        type: String,
        required: true
      }
    }
  }
</script>

<style scoped>
    .lang-code {
        font-size: small;
        border: 1px lightgray ridge;
    }
</style>
