<template>
    <blockquote>
        <p><slot/></p>
        <cite v-if="author">~ {{author}}</cite>
    </blockquote>
</template>

<script>
  export default {
    props: {
      author: {
        type: String,
        required: false,
        default: ''
      }
    }
  }
</script>

<style scoped>
    blockquote {
        border-left: 0.2rem solid #7db52c;
        color: inherit;
        font-size: inherit;
        font-style: italic;
        padding: 1em 2em;
        position: relative;
    }
    blockquote::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -0.7rem;
        height: 2em;
        background-color: white;
        width: 1rem;
        margin-top: -1.3em;
    }
    blockquote::after {
        content: "❞";
        position: absolute;
        top: 50%;
        left: -0.5em;
        color: #7db52c;
        font-style: italic;
        font-family: Roboto,serif;
        line-height: 1em;
        text-align: center;
        text-indent: -10px;
        width: 1em;
        margin-top: -0.5em;
        font-size: xx-large;
    }
    cite {
        text-align: right;
        font-style: italic;
    }
</style>
